@import '../../scss/fonts.scss';

.activity-card {
  width: 1000px;
  height: 50px;
  background-color: white;
  border: 1px solid #adadad;
  margin-bottom: 15px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
  &-done {
    width: 15px;
    height: 50px;
    background-color: #16c78e;
    border-radius: 15px 0 0 15px;
  }
  &-progress {
    width: 15px;
    height: 50px;
    background-color: #d9e268;
    border-radius: 15px 0 0 15px;
  }
  &__content {
    padding: 10px 15px;
    display: flex;
    &-title {
      margin-top: 5px;
      text-transform: none;
      font-weight: 500;
      line-height: 20px;
      font-size: 16px;
      color: #202833;
      font-family: 'Raleway';
    }
    &-date {
      margin-top: 5px;
      text-transform: none;
      font-weight: 500;
      line-height: 20px;
      margin-left: auto;
      font-size: 16px;
      color: #202833;
      font-family: 'Raleway';
    }
    &__actions {
      &-check {
        width: 15px;
        margin-left: 320px;
      }
      &-check:hover {
        background-color: transparent;
      }
      &-check:focus {
        background-color: transparent;
      }
    }
  }
  .MuiButton-root {
    padding: 0 !important;
  }

  .MuiButton-label {
    font-size: 'Raleway';
    align-items: unset;
    justify-content: unset;
  }
}
.MuiInput-underline:before {
  border-bottom: 0px solid transparent !important;
  width: 0px !important;
}
.MuiInput-underline:after {
  border-bottom: 0px solid transparent !important;
  width: 0px;
}

.MuiInputBase-input {
  border-bottom: 0px solid transparent !important;
  font-family: 'Raleway';
  font-size: 20px !important;
}
.MuiInputBase-input:focus {
  border-bottom: 0px solid transparent !important;
  -webkit-box-shadow: 0 1px 0 0 transparent !important;
}
.MuiInput-underline:before {
  border-bottom: 0 solid transparent !important;
}

.MuiInput-underline:after {
  border-bottom: 0 solid transparent !important;
}

.MTableToolbar-searchField-14 {
  position: absolute;
}
.MuiInput-root {
  width: 100% !important;
  margin-bottom: 10px;
}
.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.ql-editor {
  font-family: 'Raleway';
  font-weight: 600;
}
.ql-editor strong {
  font-family: 'Raleway';
  font-weight: 800;
}
.MuiButton-startIcon {
  align-self: center;
}
