@import '../../../scss/fonts.scss';

.macro4 {
  margin-bottom: 200px;
  &-title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__actions {
    text-align: right;
    margin: 8px 0;
    &-button1 {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 19px;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 270px;
      height: 40px;
      padding-left: 20px !important;
    }

    &-button1:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button1:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button2 {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 19px;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 300px;
      height: 40px;
      padding-left: 18px !important;
      margin-right: 15px;
    }

    &-button2:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button2:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
  &__subtitle {
    color: #0a5c41;
    font-size: 36px;
    margin: 30px 0 15px 0;
  }
  &__activities {
    display: flex;
    align-items: center;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
      border: 1px solid #0f8a62;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 27px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      border: 1px solid #0f8a62;
      background-color: transparent;
      color: #0f8a62;
    }
  }
  .MuiPaper-rounded {
    border-radius: 20px;
    padding: 0 40px;
    min-height: 500px;
  }
}

.MuiButton-startIcon {
  align-self: center;
}
.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.ql-editor {
  font-family: 'Raleway';
  font-weight: 600;
}
.ql-editor strong {
  font-family: 'Raleway';
  font-weight: 800;
}
