@import '../../../../scss/fonts.scss';

h2 {
  font-family: 'Raleway';
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #0a5c41;
}
.see-variables {
  &__header {
    background-color: white;
    width: 598px;
    text-align: right;
    border: 1px solid #d9d9d9;
  }
  &__content {
    width: 540px;
    height: 50%;
    padding: 0 20px 20px 20px;

    &-field {
      color: #202833;
      font-size: 21px;
      font-weight: 600;
    }

    &__div {
      width: 540px;
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 1px 10px;
      height: 50px;
    }
  }
  &__button-x {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
    font-size: 20px;
    padding: 3px;
  }
  &__button-x:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
  &__button-x:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
}
