@import '../../../../scss/fonts.scss';

.quiz-resolved {
  margin-bottom: 200px;

  &__content {
    text-align: center;
    padding: 0 200px;
    margin-bottom: 80px;
    &-title {
      font-weight: bold;
      color: #202833;
      font-size: 58px;
    }
    &-intro {
      margin: 20px 0 60px 0;
      color: #202833;
      font-size: 25px;
      text-align: justify;
    }
    &-questions {
      text-align: left;
      margin: 20px 0 40px 0;
      &__header {
        &-label {
          font-family: 'Raleway';
          color: #015c41;
          font-weight: 600;
          font-size: 25px;
        }
      }
      &__statement {
        font-family: 'Raleway';
        color: #202833;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 10px;
      }
      &__radiobutton {
        .MuiFormLabel-root {
          font-family: 'Raleway';
          margin: 10px 0;
          color: #015c41;
          font-weight: 400;
          font-size: 20px;
        }
        .MuiFormLabel-root:focus {
          color: #015c41;
          font-family: 'Raleway';
          font-weight: 400;
          font-size: 20px;
        }
        .MuiTypography-body1 {
          width: 600px;
          font-family: 'Raleway';
          color: #202833;
          font-weight: 400;
          font-size: 20px;
        }
        .MuiRadio-colorSecondary.Mui-checked {
          color: #0f8a62;
        }
      }
    }
  }

  &__actions {
    text-align: center;
    &__save {
      &-button {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
        font-size: 25px;
        border-radius: 10px;
        width: 350px;
        margin-bottom: 10px;
      }
      &-button:hover {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
      }
      &-button:focus {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
      }
    }
  }

  .comboBox,
  .left1,
  .left2,
  .right3,
  .right4,
  .hiddenfuture {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
}
