@import '../../../scss/fonts.scss';

.macro11 {
  padding-top: 45px;
  margin-bottom: 250px;
  display: flex;

  &__save {
    position: fixed;
    right: 150px;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 20px;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 25px !important;
    }

    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }

  &-title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__section {
    margin: 0 0 80px 0;
  }
  &__subtitle {
    color: #0a5c41;
    font-size: 36px;
    margin: 30px 0 15px 0;
  }
  &__activities {
    display: flex;
    align-items: center;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
      border: 1px solid #0f8a62;
      border-radius: 10px;
      width: 160px !important;
      padding-left: 27px !important;
      text-transform: capitalize;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      border: 1px solid #0f8a62;
      background-color: transparent;
      color: #0f8a62;
    }
  }
}

.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.ql-editor {
  font-family: 'Raleway';
  font-weight: 600;
}
.ql-editor strong {
  font-family: 'Raleway';
  font-weight: 800;
}
