@import '../../scss/fonts.scss';

.board {
  &__fully {
    &-title {
      font-size: 48px;
      color: #0a5c41;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &-block {
      display: flex;
    }
    &__plan {
      text-align: center;
      margin-top: 60px;
      &-button {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: transparent;
        color: #0f8a62;
        font-size: 25px;
        border: 1px solid #0f8a62;
        border-radius: 10px;
        width: 450px;
        margin-bottom: 10px;
        padding-left: 70px !important;
      }
      &-button:hover {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
      }
      &-button:focus {
        font-weight: 600 !important;
        font-family: 'Raleway';
        border: 1px solid #0f8a62;
        background-color: transparent;
        color: #0f8a62;
      }
    }
  }
  &__empty {
    text-align: center;
    margin-top: 250px;
    &-text {
      font-weight: 500;
      color: #a7a7a7;
      font-size: 36px;
    }
    &-button {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 25px;
      border-radius: 10px;
      width: 450px;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 55px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
}
