body {
  background-color: #e9e9e9;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.MuiAppBar-colorPrimary {
  background-color: transparent !important;
  align-items: center;
}

.MuiPaper-elevation4 {
  background-color: transparent;
  box-shadow: 0 0 0 !important;
}
.left1 {
  color: black;
  margin: 25px 120px 25px 350px;
  text-decoration: none;
}

.left2 {
  color: black;
  margin: 25px 120px 25px 90px;
  text-decoration: none;
}

.right3 {
  color: black;
  margin: 25px 90px 25px 90px;
  text-decoration: none;
}
.right4 {
  color: black;
  margin: 25px 240px 25px 50px;
  text-decoration: none;
}

.hiddenfuture {
  display: flex;
}

.logo {
  width: 8%;
  max-width: 140px;
}

h4 {
  color: black;
  font-weight: 400;
  margin: 25px 0px;
  text-decoration: none;
}

.app-main-container {
  > div {
    width: 1600px;
    margin: auto;
  }
  &__logout {
    color: #0f8a62 !important;
  }
}

.MuiIconButton-root {
  height: 0px;
  margin: 25px 0px !important;
}

.comboBox {
  .MuiInput-formControl {
    width: max-content;
  }
}
