@import '../../../scss/fonts.scss';

p {
  font-size: 18px;
  font-family: 'Raleway';
}
.quiz {
  &__back {
    &-button {
      text-transform: none;
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
    }
  }
  &__title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__label {
    color: #0a5c41;
    font-size: 18.75px;
  }
  &__content {
    background-color: black;
    width: 100%;
    position: relative;
    &__quiz {
      width: 100%;
      height: fit-content;
      position: absolute;
      z-index: 1;
      text-align: -webkit-center;

      &-add {
        margin: 40px 0;
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        width: 165px;
      }

      &-add:hover {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
      }
      &-add:focus {
        font-weight: 600 !important;
        font-family: 'Raleway';
        background-color: #0f8a62;
        color: white;
      }
      &__questions {
        margin-top: 100px;
      }
      &__title {
        width: fit-content;
        text-align: left;
        margin-bottom: 20px;

        &-textfield {
          background-color: white;
          border: 1px solid #d9d9d9;
          border-radius: 12px;
          padding: 1px 10px;
          height: 50px;
          width: 350px;
        }
      }
      &__intro {
        width: fit-content;
        text-align: left;
        margin-bottom: 20px;
      }
    }
    &__actions {
      width: 15%;
      height: fit-content;
      position: absolute;
      z-index: 2;
      right: 0;
      position: fixed;
      &__save {
        &-button {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
          font-size: 18px;
          border-radius: 10px;
          width: 165px;
          margin-bottom: 10px;
        }

        &-button:hover {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
        }
        &-button:focus {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
        }
      }
      &__visualize {
        &-button {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
          font-size: 18px;
          border-radius: 10px;
          width: 165px;
        }
        &-button:hover {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
        }
        &-button:focus {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
        }
      }
    }
  }
}
.MuiInput-underline:before {
  border-bottom: 0px solid transparent !important;
  width: 0px !important;
}
.MuiInput-underline:after {
  border-bottom: 0px solid transparent !important;
  width: 0px;
}
.MuiInputBase-input {
  border-bottom: 0px solid transparent !important;
  font-family: 'Raleway';
  font-size: 20px !important;
  margin: 0 !important;
}
.MuiInputBase-input:focus {
  border-bottom: 0px solid transparent !important;
  -webkit-box-shadow: 0 1px 0 0 transparent !important;
}

.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.ql-editor {
  font-family: 'Raleway';
  font-weight: 600;
}
.ql-editor strong {
  font-family: 'Raleway';
  font-weight: 800;
}
