@import '../../../scss/fonts.scss';

.macro6 {
  display: flex;
  &__content {
  }
  &__section {
    margin: 0 0px 60px 0;
    &-sub {
      margin-right: 40px;
    }
  }
  &__save {
    position: fixed;
    right: 250px;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 20px;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 25px !important;
    }

    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
  &-title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__subtitle {
    color: #0a5c41;
    font-size: 36px;
    margin: 30px 0 15px 0;
  }

  &__activities {
    display: flex;
    align-items: center;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
      border: 1px solid #0f8a62;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 27px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      border: 1px solid #0f8a62;
      background-color: transparent;
      color: #0f8a62;
    }
  }
}
.MuiDropzoneArea-root {
  width: 240px;
  height: 100px !important;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid #0f8a62;
}
.MuiDropzoneArea-text {
  color: #0f8a62;
  font-weight: 600;
  font-family: 'Raleway' !important;
  margin: 7px;
}
.MuiDropzoneArea-icon {
  color: #0f8a62;
}
.ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
.ql-container.ql-snow {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.ql-editor {
  font-family: 'Raleway';
  font-weight: 600;
}
.ql-editor strong {
  font-family: 'Raleway';
  font-weight: 800;
}
