@import '../../scss/fonts.scss';

.card {
  width: 405px;
  height: 117px;
  background-color: white;
  border: 1px solid #adadad;
  margin: 25px 75px 25px 0;
  display: flex;

  &-done {
    width: 15px;
    height: 115px;
    background-color: #16c78e;
  }
  &-progress {
    width: 15px;
    height: 115px;
    background-color: #d9e268;
  }
  &__content {
    padding: 10px 15px;
    text-align: left;
    &-title {
      margin-top: 5px;
      text-transform: none;
      font-weight: 500;
      line-height: 20px;
      font-size: 16px;
      color: #202833;
      font-family: 'Raleway';
    }
    &__actions {
      &-check {
        width: 15px;
        margin-left: 320px;
      }
      &-check:hover {
        background-color: transparent;
      }
      &-check:focus {
        background-color: transparent;
      }
    }
  }
}

.MuiButton-root {
  padding: 0 !important;
}

.MuiButton-label {
  font-size: 'Raleway';
  align-items: unset;
  justify-content: unset;
}
