@import '../../scss/fonts.scss';

.team {
  width: 100%;
  height: -webkit-fill-available;

  &__title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__actions {
    text-align: right;
    margin: 8px 0;
    &-button {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 19px;
      border-radius: 10px;
      width: 300px;
      margin-bottom: 10px;
    }

    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
  &__table {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  .MuiPaper-rounded {
    border-radius: 20px;
    padding: 0 40px;
    min-height: 500px;
  }
}
.MuiInput-underline:before {
  border-bottom: 0 solid transparent !important;
}

.MuiInput-underline:after {
  border-bottom: 0 solid transparent !important;
}

.MTableToolbar-searchField-14 {
  position: absolute;
}

.MuiInput-root {
  width: 400px;
}
.MTableHeader-header-17 {
  font-size: 18px;
  font-weight: 600;
}
