@import '../../../scss/fonts.scss';

.indicators {
  font-family: 'Raleway';
  &__title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    font-size: 26px;
    &-subtitle {
      font-weight: 600;
      color: #a0a0a0;
      margin-bottom: 10px;
      &-icon {
        color: #a0a0a0;
      }
    }
    &__menu {
      width: 2800px;

      &-indicator {
        font-weight: 600;
        margin-top: 10px;
        color: #0f8a62;
        &-black {
          font-weight: 500;
          color: #202833;
          margin-top: 10px;
        }
      }
    }

    &__details {
      color: #202833;
      font-weight: 500;
      width: 2600px;
      &__first {
        &-text {
          width: 100%;
          height: 100%;
        }
      }
      &__second {
        margin: 30px 0 0 0;
        display: flex;

        &__measure {
          margin-top: 22px;
          &-text {
          }
        }

        &__formula {
          margin: 0 200px 0 0;
          width: 200px;
        }
      }
      &__third {
        margin: 30px 0 0 0;
        display: flex;

        &__quiz {
          margin: 15px 180px 0 0;
          width: 220px;
          &-button {
            font-family: 'Raleway';
            color: #0f8a62;
            font-size: 25px;
            width: 222px;
          }
          &-button:hover {
            font-family: 'Raleway';
            color: #0f8a62;
            font-size: 25px;
            text-decoration: underline;
          }
          &-button:focus {
            font-family: 'Raleway';
            font-weight: 400 !important;
            color: #0f8a62 !important;
            font-size: 25px !important;
            text-decoration: underline !important;
          }
        }
        &__period {
          margin: 4px 180px 0 0;
          width: 220px;
        }
      }
      &__fourth {
        margin: 30px 0 0 0;
        &-text {
          font-size: 72px;
          color: #ca1721;
          &-green {
            font-size: 72px;
            color: #0f8a62;
          }
        }
      }
    }
  }
  .indicator-option {
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 500;
    color: #202833;
  }
  .indicator-selected {
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 600;
    color: #0f8a62;
  }
  .flex {
    display: flex;
    align-items: center;
  }
}

.MuiButton-root {
  text-transform: none;
}

button:focus {
  background-color: transparent;
  color: #0f8a62;
}
.MuiButton-root:hover {
  background-color: transparent;
  color: #0f8a62;
}

.MuiButton-root:focus {
  background-color: transparent;
  color: #0f8a62;
  font-weight: 600;
}
.MuiTouchRipple-root {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.MuiIconButton-label {
  color: #0f8a62;
}
