.alert {
  position: relative;
  top: 60px;
  right: 16px;
  min-height: 75px;
  min-width: 300px;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 5px 5px;
  margin-bottom: 8px;
  display: flex;

  h4,
  p {
    color: var(--ps-colors-blue-9);
  }

  .message {
    min-height: 100%;
    position: relative;
    margin-left: 12px;
    display: flex;
    align-items: center;

    &_icon {
      margin-right: 8px;
    }
    &_body {
      max-width: 300px;
    }
  }

  .message::before {
    z-index: 100;
    content: '';
    position: absolute;
    left: -12px;
    height: 100%;
    width: 4px;
    border-radius: 2px;
    z-index: 100;
  }

  .success {
    .psds-icon {
      svg {
        fill: green;
      }
    }
    &::before {
      background-color: green;
    }
  }

  .info {
    .psds-icon {
      svg {
        fill: blue;
      }
    }
    &::before {
      background-color: blue;
    }
  }

  .error {
    .psds-icon {
      svg {
        fill: red;
      }
    }
    &::before {
      background-color: red;
    }
  }
}
