@import '../../scss/fonts.scss';

.strategic-plan {
  &-header {
    display: flex;
  }
  &-export {
    &-button {
      height: 50px;
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
      border: 1px solid #0f8a62;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 27px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      border: 1px solid #0f8a62;
      background-color: transparent;
      color: #0f8a62;
    }
  }
  &-text {
    font-size: 18px !important;
    font-weight: 400 !important;
    text-align: justify;
  }
  h1 {
    color: #0a5c41;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
  }
  h2 {
    color: #052013;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
  }
  h3 {
    color: #0a5c41;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 24px;
    color: #202833;
    align-self: center;
    font-weight: 600;
    font-family: 'Raleway';
  }
  h5 {
    font-size: 24px;
    color: #202833;
    align-self: center;
    font-weight: 400;
    font-family: 'Raleway';
  }
  &-title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &-sponsor {
    margin-bottom: 40px;
    &-member {
      &-section {
        display: flex;
        &-name {
          margin-right: 138px !important;
        }
        &-lastname {
          margin-right: 20px;
        }

        &-email {
          margin-right: 30px !important;
        }
        &-phone {
          margin-right: 28px !important;
        }
        &-charge {
          margin-right: 28px !important;
        }
        &-textfield {
          min-width: 300px;
          margin-right: 30px;
        }
      }
    }
  }
  .MuiPaper-rounded {
    border-radius: 20px;
  }
}
