@import '../../scss/fonts.scss';

.login {
  background-image: url('../../multimedia/LoginBackground.png');
  width: 1920px;
  height: 889px;
  text-align: -webkit-center;
  padding-top: 80px;
  h3 {
    color: red;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__container {
    width: 24%;
    height: 65%;
    background-color: white;
    border-radius: 10px;
    padding: 18px 20px;
    &-logo {
      width: 29.5%;
      margin-bottom: 20px;
    }
    &-h1 {
      color: #052e21;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-h2 {
      color: #7e7e7e;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 50px;
    }
    &-email {
      margin: 20px 0;
    }
    &-password {
      margin: 20px 0 80px 0;
    }
    &-button {
      font-weight: 600 !important;
      font-family: 'Raleway' !important;
      background-color: #0f8a62 !important;
      color: white !important;
      font-size: 22px !important;
      border-radius: 10px;
      width: 300px;
      height: 50px;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway' !important;
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
}
.MuiFormControl-root {
  width: 300px;
}
.MuiFormLabel-root.Mui-focused {
  color: #0f8a62 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #0f8a62 !important;
}
