@import '../../scss/fonts.scss';

.question {
  margin-top: 10px;
  &__header {
    padding: 0 150px;
    display: flex;
    &-label {
      color: #0a5c41;
      font-size: 18.75px;
      text-align: left;
      align-self: center;
      &-add {
        text-align: center;
        place-content: center;
        margin-left: 900px;
        height: 50px;
      }
    }
    &-delete {
      margin-left: auto;
    }
  }
  &-radiobutton {
    width: 1260px;
    padding: 20px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    margin-top: 70px;
    text-align: left;
  }
  &-reactquill {
    text-align: left;
  }
}

.ql-toolbar ql-snow {
  text-align: left !important;
}
