@import '../../../scss/fonts.scss';

.macro1 {
  margin-bottom: 250px;
  display: flex;

  &__save {
    position: absolute;
    right: 150px;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 20px;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 25px !important;
    }

    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
  h1 {
    font-size: 22px;
    align-self: center;
    font-weight: 400;
    font-family: 'Raleway';
  }
  &-title {
    font-size: 48px;
    color: #0a5c41;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__sponsor {
    &-first {
      display: flex;
      margin-bottom: 20px;
      &-name {
        margin-right: 125px !important;
      }
      &-lastnames {
        margin-right: 20px;
      }
    }
    &-second {
      display: flex;
      &-email {
        margin-right: 30px !important;
      }
      &-phone {
        margin-right: 28px !important;
      }
    }
  }
  &__members {
    &__div {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      width: 300px;
      padding: 1px 10px;
      height: 50px;
      margin-right: 50px;
      margin-left: 10px;
    }
  }

  &__is-comite {
    display: flex;
  }

  &__subtitle {
    color: #0a5c41;
    font-size: 36px;
    margin: 30px 0 15px 0;
  }

  &__comite {
    width: 100%;
    &-button {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
      font-size: 19px;
      width: 270px;
      height: 40px;
      border-radius: 10px;
      margin-bottom: 10px;
      padding-left: 17px !important;
      margin-left: 1330px;
    }

    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: #0f8a62;
      color: white;
    }
  }
  &__members {
    margin-top: 40px;
    &__table {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
    }
  }
  .MuiPaper-rounded {
    border-radius: 20px;
    padding: 0 40px;
    min-height: 500px;
  }

  .MTableHeader-header-17 {
    font-size: 18px;
    font-weight: 600;
  }

  &__impacts {
    margin-bottom: 50px;
  }

  &__activities {
    display: flex;
    align-items: center;
    &-button {
      margin-top: 15px;
      margin-left: 20px;
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
      font-size: 25px;
      border: 1px solid #0f8a62;
      border-radius: 10px;
      text-transform: capitalize;
      width: 160px !important;
      padding-left: 27px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      background-color: transparent;
      color: #0f8a62;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      border: 1px solid #0f8a62;
      background-color: transparent;
      color: #0f8a62;
    }
  }

  .MuiInput-underline:before {
    border-bottom: 0px solid transparent !important;
    width: 0px !important;
  }
  .MuiInput-underline:after {
    border-bottom: 0px solid transparent !important;
    width: 0px;
  }

  .MuiInputBase-input {
    border-bottom: 0px solid transparent !important;
    font-family: 'Raleway';
    font-size: 20px !important;
  }
  .MuiInputBase-input:focus {
    border-bottom: 0px solid transparent !important;
    -webkit-box-shadow: 0 1px 0 0 transparent !important;
  }
  .MuiInput-underline:before {
    border-bottom: 0 solid transparent !important;
  }

  .MuiInput-underline:after {
    border-bottom: 0 solid transparent !important;
  }

  .MTableToolbar-searchField-14 {
    position: absolute;
  }

  .MuiInput-root {
    width: 100% !important;
  }
  .ql-toolbar.ql-snow {
    border-radius: 10px 10px 0 0;
    background-color: white;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 10px 10px;
    background-color: white;
  }
  .ql-editor {
    font-family: 'Raleway';
    font-weight: 600;
  }
  .ql-editor strong {
    font-family: 'Raleway';
    font-weight: 800;
  }
  .MuiButton-startIcon {
    align-self: center;
  }
}
