h2 {
  font-family: 'Raleway';
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #0a5c41;
}

.add-stakeholder {
  &__header {
    background-color: white;
    text-align: right;
    border: 1px solid #d9d9d9;
  }
  &__content {
    height: 50%;
    padding: 0 20px 20px 20px;

    &-content {
      height: 300px;
    }
    &-field {
      color: #202833;
      font-size: 21px;
      font-weight: 600;
    }

    &__div {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 1px 10px;
      height: 50px;
    }
    &-textfield {
      display: flex;
      &-field {
        margin-right: 120px;
        margin-bottom: 40px;
      }
      &-select {
        margin-right: 50px;
      }
    }
  }
  &__button-x {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
    font-size: 20px;
    padding: 3px;
  }
  &__button-x:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
  &__button-x:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }

  &__button-accept {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
    font-size: 18px;
    width: 280px;
    height: 40px;
    padding-left: 17px !important;
  }

  &__button-accept:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }
  &__button-accept:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }

  &__button-cancel {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    width: 200px;
    color: #5a5a5b;
    font-size: 18px;
    width: 150px;
    height: 40px;
    padding-left: 25px !important;
  }
  &__button-cancel:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
  &__button-cancel:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
}
