@import '../../../scss/fonts.scss';

h2 {
  font-family: 'Raleway';
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #0a5c41;
}
.add-member {
  &__header {
    background-color: white;
    width: 958px;
    text-align: right;
    border: 1px solid #d9d9d9;
  }
  &__content {
    width: 900px;
    height: 300px;
    padding: 0 20px 20px 20px;
    &-field {
      margin-top: 5px;
      color: #0a5c41;
      font-size: 18.75px;
    }

    &__div {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 1px 10px;
      height: 50px;
      margin-bottom: 35px;
    }
  }
  &__button-accept {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
    font-size: 18px;
  }

  &__button-accept:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }
  &__button-accept:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }

  &__button-cancel {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
    font-size: 18px;
  }
  &__button-cancel:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
  &__button-cancel:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
  &__button-x {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
    font-size: 20px;
    padding: 3px;
  }
  &__button-x:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
  &__button-x:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
}

.MuiDialog-paperFullWidth {
  border-radius: 25px;
}

.MuiInputBase-input {
  border-bottom: 0px solid transparent !important;
  font-family: 'Raleway';
  font-size: 20px !important;
  margin-top: 7px;
}

.MuiInput-root {
  width: 820px;
}
