@import '../../scss/fonts.scss';

.question-resolve {
  text-align: left;
  margin: 20px 0 40px 0;
  &__header {
    &-label {
      font-family: 'Raleway';
      color: #015c41;
      font-weight: 600;
      font-size: 25px;
    }
  }
  &__statement {
    font-family: 'Raleway';
    color: #202833;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
  }
  &__radiobutton {
    .MuiFormLabel-root {
      font-family: 'Raleway';
      margin: 10px 0;
      color: #015c41;
      font-weight: 400;
      font-size: 20px;
    }
    .MuiFormLabel-root:focus {
      color: #015c41;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
    }
    .MuiTypography-body1 {
      width: 600px;
      font-family: 'Raleway';
      color: #202833;
      font-weight: 400;
      font-size: 20px;
    }
    .MuiRadio-colorSecondary.Mui-checked {
      color: #0f8a62;
    }
  }
}
