@import '../../../../scss/fonts.scss';

.quiz-view {
  margin-bottom: 200px;

  &__content {
    text-align: center;
    padding: 0 200px;
    &-title {
      font-weight: bold;
      color: #202833;
      font-size: 58px;
    }
    &-intro {
      margin: 20px 0 60px 0;
      color: #202833;
      font-size: 25px;
      text-align: justify;
    }
  }
  .MuiButton-root {
    text-transform: none;
    background-color: transparent;
    color: #0f8a62;
    font-size: 25px;
  }

  button:focus {
    background-color: transparent;
    color: #0f8a62;
  }
  .MuiButton-root:hover {
    background-color: transparent;
    color: #0f8a62;
  }

  .MuiButton-root:focus {
    background-color: transparent;
    color: #0f8a62;
    font-weight: 600;
  }
}
