@import '../../../scss/fonts.scss';

.activity {
  &__X {
    &-button {
      font-weight: 600 !important;
      font-family: 'Raleway';
      color: #5a5a5b;
      font-size: 20px;
      padding: 3px;
      padding-left: 25px !important;
    }
    &-button:hover {
      font-weight: 600 !important;
      font-family: 'Raleway';
      color: #5a5a5b;
    }
    &-button:focus {
      font-weight: 600 !important;
      font-family: 'Raleway';
      color: #5a5a5b;
    }
  }
  &__header {
    background-color: white;
    width: 1278px;
    text-align: right;
    border: 1px solid #d9d9d9;
  }
  &__line {
    width: 1px;
    height: 100%;
    background-color: black;
  }
  &__content {
    display: flex;
    height: 646px;
    margin-bottom: 10px;

    &__left {
      width: 53%;
      height: 100%;
      &__actions {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &-date {
          width: 175px;
        }
        &-members {
          align-self: center;
          padding-right: 80px;
        }
        &-mark {
          text-align-last: right;
          &-finished {
            &-button {
              font-weight: 600 !important;
              font-family: 'Raleway';
              background-color: #0f8a62;
              color: white;
              font-size: 17px;
              border: 1px solid #0f8a62;
              border-radius: 10px;
              width: 250px !important;
              height: 35px;
              padding-left: 22px !important;
              text-transform: capitalize;
            }
            &-button:hover {
              font-weight: 600 !important;
              font-family: 'Raleway';
              background-color: #0f8a62;
              color: white;
            }
            &-button:focus {
              font-weight: 600 !important;
              font-family: 'Raleway';
              border: 1px solid #0f8a62;
              background-color: #0f8a62;
              color: white;
            }
          }
          &-button {
            font-weight: 600 !important;
            font-family: 'Raleway';
            background-color: transparent;
            color: #0f8a62;
            font-size: 17px;
            border: 1px solid #0f8a62;
            border-radius: 10px;
            width: 250px !important;
            height: 35px;
            padding-left: 22px !important;
            text-transform: capitalize;
          }
          &-button:hover {
            font-weight: 600 !important;
            font-family: 'Raleway';
            background-color: transparent;
            color: #0f8a62;
          }
          &-button:focus {
            font-weight: 600 !important;
            font-family: 'Raleway';
            border: 1px solid #0f8a62;
            background-color: transparent;
            color: #0f8a62;
          }
        }
      }
      &__activity {
        &__editing {
          &__div {
            width: 598px;
            background-color: white;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            padding: 1px 10px;
            height: 50px;
            margin-bottom: 10px;
          }
        }
        &__noediting {
          width: 620px;
          padding: 1px 10px;
          margin-bottom: 10px;
          &-editing {
            display: flex;
          }
          &-title {
            margin-right: auto;
            font-family: 'Raleway';
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          &-description {
            font-family: 'Raleway';
            font-size: 17px;
            font-weight: 400;
            color: #949494;
          }
        }
      }
      &__attachments {
        margin-top: 60px;
        display: flex;
        &-subtitle {
          font-size: 28px;
          align-self: center;
        }

        &-button {
          margin-left: 20px;
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: transparent;
          color: #0f8a62;
          font-size: 17px;
          border: 1px solid #0f8a62;
          border-radius: 10px;
          width: 120px !important;
          height: 35px;
          padding-left: 25px !important;
          text-transform: capitalize;
        }
        &-button:hover {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: transparent;
          color: #0f8a62;
        }
        &-button:focus {
          font-weight: 600 !important;
          font-family: 'Raleway';
          border: 1px solid #0f8a62;
          background-color: transparent;
          color: #0f8a62;
        }
      }
      &__save {
        margin-top: 200px;
        text-align: center;
        &-button {
          margin-left: 20px;
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
          font-size: 17px;
          border-radius: 10px;
          width: 120px !important;
          height: 35px;
          padding-left: 25px !important;
          text-transform: capitalize;
        }
        &-button:hover {
          font-weight: 600 !important;
          font-family: 'Raleway';
          background-color: #0f8a62;
          color: white;
        }
        &-button:focus {
          font-weight: 600 !important;
          font-family: 'Raleway';
          border: 1px solid #0f8a62;
          background-color: #0f8a62;
          color: white;
        }
      }
    }
    &__right {
      width: 47%;
      padding-left: 20px;
      height: 100%;
      &__subtitle {
        margin: 40px 0 10px 0;
        font-size: 24px;
      }
    }
  }
  .MuiIconButton-root {
    padding: 0;
  }
}
.MuiDialog-paperFullWidth {
  border-radius: 25px;
}
.MuiDialogContent-root {
  display: flex;
}
