@import '../../../../scss/fonts.scss';

h2 {
  font-family: 'Raleway';
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #0a5c41;
}
.edit-goal {
  &__header {
    background-color: white;
    width: 598px;
    text-align: right;
    border: 1px solid #d9d9d9;
  }
  &__content {
    width: 540px;
    height: 50%;
    padding: 0 20px 20px 20px;

    &-field {
      color: #0a5c41;
      font-size: 18.75px;
    }

    &__div {
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 1px 10px;
      width: 487px;
      height: 50px;
    }
  }
  &__button-accept {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
    font-size: 18px;
  }

  &__button-accept:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }
  &__button-accept:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #0f8a62;
    color: white;
  }

  &__button-cancel {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
    font-size: 18px;
  }
  &__button-cancel:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
  &__button-cancel:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    background-color: #c7c7c7;
    color: #5a5a5b;
  }
  &__button-x {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
    font-size: 20px;
    padding: 3px;
  }
  &__button-x:hover {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
  &__button-x:focus {
    font-weight: 600 !important;
    font-family: 'Raleway';
    color: #5a5a5b;
  }
}

.MuiDialog-paperFullWidth {
  border-radius: 25px;
}
.MuiInput-underline:before {
  border-bottom: 0px solid transparent !important;
  width: 0px !important;
}
.MuiInput-underline:after {
  border-bottom: 0px solid transparent !important;
  width: 0px;
}

.MuiInputBase-input {
  border-bottom: 0px solid transparent !important;
  font-family: 'Raleway';
  font-size: 20px !important;
  margin-top: 7px !important;
}
.MuiInputBase-input:focus {
  border-bottom: 0px solid transparent !important;
  -webkit-box-shadow: 0 1px 0 0 transparent !important;
}

.MuiDialogTitle-root {
  padding: 12px 24px 0 24px;
}
